        <!--================Menu Area =================-->
        <header class="shop_header_area carousel_menu_area">
            <div class="carousel_top_header row m0">
                <div class="container">
                    <div class="carousel_top_h_inner">
                        <div class="float-md-right">
                            <div class="top_header_middle">
                                <a href="tel:+32475241154"><i class="fa fa-phone"></i> Call Us: <span>+32 474 24 11 45 </span></a>
                                <a href="mailto: support@mijnveiligheid.com "><i class="fa fa-envelope"></i> Email: <span>support@mijnveiligheid.com</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_menu_inner">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="{{ path_for('home')}}"><img src="http://localhost/BePZOZ_2.0/public/images/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>

                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item"><a class="nav-link" href="{{ path_for('bicycle')}}">On Bicycle</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path_for('car')}}">With Car</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path_for('atHome')}}">At Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path_for('work')}}">At Work</a></li>

                                <li class="nav-item"><a class="nav-link" href="#">About us</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path_for('contact.index')}}">Contact</a></li>
                            </ul>
                            <ul class="navbar-nav justify-content-end">
<!--                                <li class="search_icon"><a href="#"><i class="icon-magnifier icons"></i></a></li>-->
<!--                                <li class="user_icon"><a {{ path_for('login.index')}}"><i class="icon-user icons"></i></a></li>-->
                                <li><a href="{{ path_for('cart.index')}}"><i class="icon-handbag icons"> ({{ basket.itemCount()}})</i></a></li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!--================End Menu Area =================-->
                
